.header {
  text-align: center;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}

.jumbotron {
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
}

/* .react-calendar {
  margin: 20px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-radius: .3rem;
} */